.mod-globalnews {
    display: grid;
    gap: 1px;
}

.mod-globalnews .article-item img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .mod-globalnews {
        grid-template-columns: 1fr;
    }
}
